# TalkingData Mobile User Demographics

Active competition found in [kaggle/talkingdata](https://www.kaggle.com/c/talkingdata-mobile-user-demographics)

## 1. The data

The total list of files given by the competition and their relationship are:

* gender_age_test.csv .zip (1.05 mb)
* app_labels.csv  .zip (4.04 mb)
* label_categories.csv    .zip (7.67 kb)
* phone_brand_device_model.csv    .zip (2.42 mb)
* sample_submission.csv   .zip (1.32 mb)
* events.csv  .zip (62.24 mb)
* app_events.csv  .zip (211.27 mb)
* gender_age_train.csv    .zip (891.47 kb)

![](https://raw.githubusercontent.com/gxexakis/Kaggle/talking_head/talking_data/data/data_diagram.png)

In [127]:
%matplotlib inline

import seaborn as sb
from matplotlib import pyplot as plt

import pandas as pd

pd.options.display.max_rows = 10

_The following line is only used to reach the folder where the (heavy) input data is kept. Since my primary drive is as SSD of 100Gb I try to keep it light ;)_

In [5]:
cd D:/heavy_code/kaggle/talkingdata_competition/

D:\heavy_code\kaggle\talkingdata_competition

In [6]:
sample_submission = pd.read_csv('input/sample_submission.csv')
gender_age_train = pd.read_csv('input/gender_age_train.csv')
phone_brand_device_model = pd.read_csv('input/phone_brand_device_model.csv')
gender_age_test = pd.read_csv('input/gender_age_test.csv')
app_events = pd.read_csv('input/app_events.csv')
app_labels = pd.read_csv('input/app_labels.csv')
events = pd.read_csv('input/events.csv')
label_categories = pd.read_csv('input/label_categories.csv')

In [7]:
sample_submission.head()

,device_id,F23-,F24-26,F27-28,F29-32,F33-42,F43+,M22-,M23-26,M27-28,M29-31,M32-38,M39+
0,1002079943728939269,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833
1,-1547860181818787117,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833
2,7374582448058474277,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833
3,-6220210354783429585,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833
4,-5893464122623104785,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833

In [8]:
sample_submission.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112071 entries, 0 to 112070
Data columns (total 13 columns):
device_id    112071 non-null int64
F23-         112071 non-null float64
F24-26       112071 non-null float64
F27-28       112071 non-null float64
F29-32       112071 non-null float64
F33-42       112071 non-null float64
F43+         112071 non-null float64
M22-         112071 non-null float64
M23-26       112071 non-null float64
M27-28       112071 non-null float64
M29-31       112071 non-null float64
M32-38       112071 non-null float64
M39+         112071 non-null float64
dtypes: float64(12), int64(1)
memory usage: 12.0 MB

In [9]:
gender_age_train.head()

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

In [10]:
gender_age_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74645 entries, 0 to 74644
Data columns (total 4 columns):
device_id    74645 non-null int64
gender       74645 non-null object
age          74645 non-null int64
group        74645 non-null object
dtypes: int64(2), object(2)
memory usage: 2.8+ MB

In [11]:
print gender_age_train['device_id'].nunique()
print gender_age_train['gender'].nunique()
print gender_age_train['group'].nunique()

74645
2
12

In [12]:
genders = pd.get_dummies(gender_age_train['gender'])
groups = pd.get_dummies(gender_age_train['group'])

In [13]:
df = pd.concat([gender_age_train, genders], axis=1)
df = pd.concat([df, groups], axis=1)
df.drop(['group', 'gender'], axis=1, inplace=True)

In [14]:
df.head()

,device_id,age,F,M,F23-,F24-26,F27-28,F29-32,F33-42,F43+,M22-,M23-26,M27-28,M29-31,M32-38,M39+
0,-8076087639492063270,35,0,1,0,0,0,0,0,0,0,0,0,0,1,0
1,-2897161552818060146,35,0,1,0,0,0,0,0,0,0,0,0,0,1,0
2,-8260683887967679142,35,0,1,0,0,0,0,0,0,0,0,0,0,1,0
3,-4938849341048082022,30,0,1,0,0,0,0,0,0,0,0,0,1,0,0
4,245133531816851882,30,0,1,0,0,0,0,0,0,0,0,0,1,0,0

In [15]:
phone_brand_device_model.head()

             device_id phone_brand   device_model
0 -8890648629457979026          小米             红米
1  1277779817574759137          小米           MI 2
2  5137427614288105724          三星      Galaxy S4
3  3669464369358936369       SUGAR           时尚手机
4 -5019277647504317457          三星  Galaxy Note 2

In [16]:
phone_brand_device_model.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 187245 entries, 0 to 187244
Data columns (total 3 columns):
device_id       187245 non-null int64
phone_brand     187245 non-null object
device_model    187245 non-null object
dtypes: int64(1), object(2)
memory usage: 5.7+ MB

In [17]:
print phone_brand_device_model['device_id'].nunique()
print phone_brand_device_model['phone_brand'].nunique()
print phone_brand_device_model['device_model'].nunique()

186716
131
1599

Multiple values for some devices (186716 != 187245)

In [18]:
phone_brand_device_model.drop_duplicates('device_id', inplace=True)

In [19]:
phone_brand_device_model.shape

(186716, 3)

In [22]:
phone_brands = pd.get_dummies(phone_brand_device_model['phone_brand'])
device_models = pd.get_dummies(phone_brand_device_model['device_model'])

In [23]:
phone_brand_device_model = pd.concat([phone_brand_device_model, phone_brands], axis=1)
phone_brand_device_model = pd.concat([phone_brand_device_model, device_models], axis=1)
phone_brand_device_model.drop(['phone_brand', 'device_model'], axis=1, inplace=True)

In [24]:
df = pd.merge(df, phone_brand_device_model, how='left', on='device_id')

In [25]:
df.head()

,device_id,age,F,M,F23-,F24-26,F27-28,F29-32,F33-42,F43+,...,魅蓝Note3,魅蓝metal,魔镜 X5,麦芒3,麦芒3S,麦芒4,黄金斗士A8,黄金斗士Note8,黄金斗士S8畅玩版,黄金斗士青春版
0,-8076087639492063270,35,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-2897161552818060146,35,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-8260683887967679142,35,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-4938849341048082022,30,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,245133531816851882,30,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
gender_age_test.head()

             device_id
0  1002079943728939269
1 -1547860181818787117
2  7374582448058474277
3 -6220210354783429585
4 -5893464122623104785

In [30]:
print app_labels.head()
print label_categories.head()

                app_id  label_id
0  7324884708820027918       251
1 -4494216993218550286       251
2  6058196446775239644       406
3  6058196446775239644       407
4  8694625920731541625       406
   label_id           category
0         1                NaN
1         2     game-game type
2         3   game-Game themes
3         4     game-Art Style
4         5  game-Leisure time

In [31]:
df = pd.merge(gender_age_test, phone_brand_device_model, how='left', on='device_id')
df.shape

(112071, 1731)

In [32]:
df = pd.concat([gender_age_train, gender_age_test])
#df = pd.merge(df, phone_brand_device_model, how='left', on='device_id')
# df = pd.merge(df, events, how='left', on='device_id')

In [35]:
print df.shape
df.head()

(186716, 4)

   age            device_id gender   group
0   35 -8076087639492063270      M  M32-38
1   35 -2897161552818060146      M  M32-38
2   35 -8260683887967679142      M  M32-38
3   30 -4938849341048082022      M  M29-31
4   30   245133531816851882      M  M29-31

In [34]:
print phone_brand_device_model.shape
phone_brand_device_model.head()

(186716, 1731)

,device_id,E人E本,E派,HTC,LG,LOGO,Lovme,MIL,OPPO,PPTV,...,魅蓝Note3,魅蓝metal,魔镜 X5,麦芒3,麦芒3S,麦芒4,黄金斗士A8,黄金斗士Note8,黄金斗士S8畅玩版,黄金斗士青春版
0,-8890648629457979026,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1277779817574759137,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5137427614288105724,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3669464369358936369,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-5019277647504317457,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
print gender_age_train.shape
gender_age_train.head()

(74645, 4)

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

In [37]:
print gender_age_test.shape
gender_age_test.head()

(112071, 1)

             device_id
0  1002079943728939269
1 -1547860181818787117
2  7374582448058474277
3 -6220210354783429585
4 -5893464122623104785

## Events, apps and labels

Each event is connected with a specific device. Nevertheless, by looking at app_events we can see that each event_id can be connected with multiple apps. That is maybe indicating that each event is an upstream to the server that updates or installs multiple apps.

In [50]:
events.head()

   event_id            device_id            timestamp  longitude  latitude
0         1    29182687948017175  2016-05-01 00:55:25     121.38     31.24
1         2 -6401643145415154744  2016-05-01 00:54:12     103.65     30.97
2         3 -4833982096941402721  2016-05-01 00:08:05     106.60     29.70
3         4 -6815121365017318426  2016-05-01 00:06:40     104.27     23.28
4         5 -5373797595892518570  2016-05-01 00:07:18     115.88     28.66

In [52]:
app_events.head()

   event_id               app_id  is_installed  is_active
0         2  5927333115845830913             1          1
1         2 -5720078949152207372             1          0
2         2 -1633887856876571208             1          0
3         2  -653184325010919369             1          1
4         2  8693964245073640147             1          1

In [46]:
app_labels.head()

                app_id  label_id
0  7324884708820027918       251
1 -4494216993218550286       251
2  6058196446775239644       406
3  6058196446775239644       407
4  8694625920731541625       406

In [47]:
label_categories.head()

   label_id           category
0         1                NaN
1         2     game-game type
2         3   game-Game themes
3         4     game-Art Style
4         5  game-Leisure time

In [48]:
events.shape, app_events.shape, app_labels.shape, label_categories.shape

((3252950, 5), (32473067, 4), (459943, 2), (930, 2))

#### Are the event ids corresponding between the events and the app_events?

In [114]:
events[events.event_id.duplicated()==True].shape[0]

0

No duplicate event_ids in the events csv.

In [112]:
len(events.event_id.unique()), len(app_events.event_id.unique())

(3252950, 1488096)

However, not all event_ids are found in app_events

### First try: infer user demographics based on app labels

In [129]:
sample_device_id = events.device_id[1]
sample_events = events[events.device_id == sample_device_id].sort_values(by="timestamp")
sample_events

,event_id,device_id,timestamp,longitude,latitude
2503332,2503333,-6401643145415154744,2016-05-01 00:48:13,103.65,30.97
65268,65269,-6401643145415154744,2016-05-01 00:51:34,103.65,30.97
1789811,1789812,-6401643145415154744,2016-05-01 00:52:04,103.65,30.97
2302256,2302257,-6401643145415154744,2016-05-01 00:53:04,103.65,30.97
1,2,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97
...,...,...,...,...,...
2849721,2849722,-6401643145415154744,2016-05-05 09:37:37,110.55,19.73
658044,658045,-6401643145415154744,2016-05-05 09:38:07,110.55,19.73
1113395,1113396,-6401643145415154744,2016-05-05 09:39:17,110.55,19.73
3111260,3111261,-6401643145415154744,2016-05-05 09:40:16,110.55,19.73
346840,346841,-6401643145415154744,2016-05-05 11:43:46,110.55,19.73

The above also shows that the event_ids are no chronological counters. Also, one device may include more than one event.   
For a first experiment only with app labels the longitude and latitude is not useful and can be dropped:

In [152]:
sample_events.drop(["longitude","latitude"],axis=1,inplace=True)

In [141]:
sample_app_events = app_events[app_events.event_id.isin(sample_events.event_id)]
sample_app_events

          event_id               app_id  is_installed  is_active
0                2  5927333115845830913             1          1
1                2 -5720078949152207372             1          0
2                2 -1633887856876571208             1          0
3                2  -653184325010919369             1          1
4                2  8693964245073640147             1          1
...            ...                  ...           ...        ...
31137575   3111261   701031210314548601             1          0
31137576   3111261 -1758857579862594461             1          0
31137577   3111261  4348659952760821294             1          0
31137578   3111261 -8942695423876075857             1          0
31137579   3111261  5497109940653330488             1          1

[408 rows x 4 columns]

In [144]:
sample_app_events.is_installed.unique()

array([1], dtype=int64)

In [145]:
sample_app_events[sample_app_events.app_id==sample_app_events.app_id[0]]

          event_id               app_id  is_installed  is_active
0                2  5927333115845830913             1          1
651529       65269  5927333115845830913             1          1
2110990     212044  5927333115845830913             1          1
3524035     349776  5927333115845830913             1          0
3878785     388886  5927333115845830913             1          1
...            ...                  ...           ...        ...
26699174   2672409  5927333115845830913             1          1
28458912   2849722  5927333115845830913             1          0
29424668   2945585  5927333115845830913             1          1
30340713   3040066  5927333115845830913             1          1
31137563   3111261  5927333115845830913             1          0

[29 rows x 4 columns]

In [155]:
merged_app_events = pd.merge(sample_events,sample_app_events,how="left",on="event_id").sort_values(by="app_id")
merged_app_events

,event_id,device_id,timestamp,app_id,is_installed,is_active
382,1440921,-6401643145415154744,2016-05-04 00:43:54,-8.942695e+18,1,0
248,3040066,-6401643145415154744,2016-05-02 00:10:05,-8.942695e+18,1,0
311,2562167,-6401643145415154744,2016-05-02 19:58:01,-8.942695e+18,1,0
17,65269,-6401643145415154744,2016-05-01 00:51:34,-8.942695e+18,1,0
290,2398129,-6401643145415154744,2016-05-02 13:38:59,-8.942695e+18,1,0
...,...,...,...,...,...,...
384,1631102,-6401643145415154744,2016-05-04 00:43:55,NaN,NaN,NaN
385,1001748,-6401643145415154744,2016-05-04 00:44:55,NaN,NaN,NaN
386,1440922,-6401643145415154744,2016-05-04 00:45:01,NaN,NaN,NaN
424,658045,-6401643145415154744,2016-05-05 09:38:07,NaN,NaN,NaN
425,1113396,-6401643145415154744,2016-05-05 09:39:17,NaN,NaN,NaN

The apps NaN values are removed since they correspond to events that we dont have any app event data (maybe they are referring to data that is not given or is classified)

In [159]:
merged_app_events = merged_app_events.dropna()

In [160]:
merged_app_events

,event_id,device_id,timestamp,app_id,is_installed,is_active
382,1440921,-6401643145415154744,2016-05-04 00:43:54,-8.942695e+18,1,0
248,3040066,-6401643145415154744,2016-05-02 00:10:05,-8.942695e+18,1,0
311,2562167,-6401643145415154744,2016-05-02 19:58:01,-8.942695e+18,1,0
17,65269,-6401643145415154744,2016-05-01 00:51:34,-8.942695e+18,1,0
290,2398129,-6401643145415154744,2016-05-02 13:38:59,-8.942695e+18,1,0
...,...,...,...,...,...,...
166,349776,-6401643145415154744,2016-05-01 12:00:33,9.112463e+18,1,0
148,2515936,-6401643145415154744,2016-05-01 11:57:28,9.112463e+18,1,0
413,2849722,-6401643145415154744,2016-05-05 09:37:37,9.112463e+18,1,0
357,396743,-6401643145415154744,2016-05-03 21:03:32,9.112463e+18,1,0
128,601792,-6401643145415154744,2016-05-01 11:29:21,9.112463e+18,1,0