In [ ]:
import pandas as pd

In [2]:
sample_submission = pd.read_csv('input/sample_submission.csv')
gender_age_train = pd.read_csv('input/gender_age_train.csv')
phone_brand_device_model = pd.read_csv('input/phone_brand_device_model.csv')
gender_age_test = pd.read_csv('input/gender_age_test.csv')
app_events = pd.read_csv('input/app_events.csv')
app_labels = pd.read_csv('input/app_labels.csv')
events = pd.read_csv('input/events.csv')
label_categories = pd.read_csv('input/label_categories.csv')

In [3]:
sample_submission.head()

,device_id,F23-,F24-26,F27-28,F29-32,F33-42,F43+,M22-,M23-26,M27-28,M29-31,M32-38,M39+
0,1002079943728939269,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833
1,-1547860181818787117,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833
2,7374582448058474277,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833
3,-6220210354783429585,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833
4,-5893464122623104785,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833

In [4]:
sample_submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112071 entries, 0 to 112070
Data columns (total 13 columns):
device_id    112071 non-null int64
F23-         112071 non-null float64
F24-26       112071 non-null float64
F27-28       112071 non-null float64
F29-32       112071 non-null float64
F33-42       112071 non-null float64
F43+         112071 non-null float64
M22-         112071 non-null float64
M23-26       112071 non-null float64
M27-28       112071 non-null float64
M29-31       112071 non-null float64
M32-38       112071 non-null float64
M39+         112071 non-null float64
dtypes: float64(12), int64(1)
memory usage: 11.1 MB

In [5]:
gender_age_train.head()

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

In [6]:
gender_age_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74645 entries, 0 to 74644
Data columns (total 4 columns):
device_id    74645 non-null int64
gender       74645 non-null object
age          74645 non-null int64
group        74645 non-null object
dtypes: int64(2), object(2)
memory usage: 2.3+ MB

In [7]:
print gender_age_train['device_id'].nunique()
print gender_age_train['gender'].nunique()
print gender_age_train['group'].nunique()

74645
2
12

In [8]:
genders = pd.get_dummies(gender_age_train['gender'])
groups = pd.get_dummies(gender_age_train['group'])

In [9]:
df = pd.concat([gender_age_train, genders], axis=1)
df = pd.concat([df, groups], axis=1)
df.drop(['group', 'gender'], axis=1, inplace=True)

In [10]:
df.head()

,device_id,age,F,M,F23-,F24-26,F27-28,F29-32,F33-42,F43+,M22-,M23-26,M27-28,M29-31,M32-38,M39+
0,-8076087639492063270,35,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,-2897161552818060146,35,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,-8260683887967679142,35,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,-4938849341048082022,30,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,245133531816851882,30,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [11]:
phone_brand_device_model.head()

             device_id phone_brand   device_model
0 -8890648629457979026          小米             红米
1  1277779817574759137          小米           MI 2
2  5137427614288105724          三星      Galaxy S4
3  3669464369358936369       SUGAR           时尚手机
4 -5019277647504317457          三星  Galaxy Note 2

In [12]:
phone_brand_device_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187245 entries, 0 to 187244
Data columns (total 3 columns):
device_id       187245 non-null int64
phone_brand     187245 non-null object
device_model    187245 non-null object
dtypes: int64(1), object(2)
memory usage: 4.3+ MB

In [13]:
print phone_brand_device_model['device_id'].nunique()
print phone_brand_device_model['phone_brand'].nunique()
print phone_brand_device_model['device_model'].nunique()

186716
131
1599

Multiple values for some devices (186716 != 187245)

In [14]:
phone_brand_device_model.drop_duplicates('device_id', inplace=True)

In [15]:
phone_brand_device_model.shape

(186716, 3)

In [18]:
phone_brands = pd.get_dummies(phone_brand_device_model['phone_brand'])
device_models = pd.get_dummies(phone_brand_device_model['device_model'])

In [19]:
phone_brand_device_model = pd.concat([phone_brand_device_model, phone_brands], axis=1)
phone_brand_device_model = pd.concat([phone_brand_device_model, device_models], axis=1)
phone_brand_device_model.drop(['phone_brand', 'device_model'], axis=1, inplace=True)

In [20]:
df = pd.merge(df, phone_brand_device_model, how='left', on='device_id')

In [21]:
df.head()

,device_id,age,F,M,F23-,F24-26,F27-28,F29-32,F33-42,F43+,...,魅蓝Note3,魅蓝metal,魔镜 X5,麦芒3,麦芒3S,麦芒4,黄金斗士A8,黄金斗士Note8,黄金斗士S8畅玩版,黄金斗士青春版
0,-8076087639492063270,35,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-2897161552818060146,35,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-8260683887967679142,35,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-4938849341048082022,30,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,245133531816851882,30,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
gender_age_test.head()

             device_id
0  1002079943728939269
1 -1547860181818787117
2  7374582448058474277
3 -6220210354783429585
4 -5893464122623104785

In [ ]:
print app_labels.head()
print label_categories.head()

app_id_label_id_category = pd.merge()

In [ ]:
df = pd.merge(gender_age_test, phone_brand_device_model, how='left', on='device_id')
df.shape

In [ ]:
df = pd.concat([gender_age_train, gender_age_test])
#df = pd.merge(df, phone_brand_device_model, how='left', on='device_id')
# df = pd.merge(df, events, how='left', on='device_id')

In [ ]:
print df.shape
df.head()

In [ ]:
print phone_brand_device_model.shape
phone_brand_device_model.head()

In [ ]:
print gender_age_train.shape
gender_age_train.head()

In [ ]:
print gender_age_test.shape
gender_age_test.head()

In [ ]:
app_events.head()
app_labels.head()
events.head()

In [ ]:
app_events.shape, app_labels.shape